<!DOCTYPE html>
<html>
	<head>
		<title>BookStore Ltd.</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id='header'>
			HTML and CSS in Rails 3
			Page 2
			<!-- Header Image Displayes here -->
		</div>
		<div id='menu'>
			<!-- Header Image Displayes here -->
			<div id="navbar">
				<ul>
					<li>
						<a href="/ads">Home</a>
					</li>
					<li>
						<a href="page2.htm">Books</a>
					</li>
					<li>
						<a href="#">eBooks</a>
					</li>
					<li>
						<a href="#">Register</a>
					</li>
					<li>
						<a href="#">Contact Us</a>
					</li>
					<li>
						<a href="#">Login</a>
					</li>
				</ul>
			</div>
		</div>
		<div id='container'>
			<div id='content'>
				<%= yield %>
			</div>
			<div id='first-column'>
				<div class="searchbox">
					<h2 class="BoxHeaders">Search</h2>
					<input type="text" name="search" />
					<input type="submit" value="Search" />
				</div>
				<div class="box">
					<h2 class="BoxHeaders">Special Offers</h2>
					<img src="/assets/Books/Pict1.jpg" name="Rotating" id="Rotating1" alt="Special Offers ">
					<script type="text/javascript">
						RotateImages(1, 0);
					</script>
				</div>
				<div class="box">
					HTML and CSS in Rails 3
					Page 3
					<h2 class="BoxHeaders">Newly Published</h2>
					<img src="/assets/Books/Pict1.jpg" alt="New Books">
				</div>
			</div>
		</div>
		<div id='footer'>
			<h6 class="footertext">&copy; Online Stores NCI&trade; 2011</h6>
		</div>

	</body>
</html>
