<% @items = Item.select('DISTINCT category') %>
<div class="categoryListAll">
	<% @items.each do | c | %>
	<a href="/category/<%= c.category %>" id="categorylisting"><%= c.category %></a>
	<br />
	<% end %>
</div>